@import "ui-variables";
@import "ui-mixins";

@widget-height: 8em;
@control-height: 2em;
@reader-height: @widget-height - @control-height;
@reader-font-size: 1.5em;
@widget-background-color: transparent;

.squirt__container {
    min-height: @widget-height;
    display: block;
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
    margin-bottom: 1em;
    margin-top: 1em;
    border: .1em solid @border-color-primary;
    border-radius: .25em;
    color: @text-color;
    background-color: @widget-background-color;
    &.error {
      padding-top: 0.2em;
      text-align: center;
      background-color: @background-color-error;
      border: none;
    }
    &.info {
      padding-top: 0.2em;
      text-align: center;
      background-color: @background-color-info;
      border:none;
    }
}

.squirt__reader {
  display: block;
  position: absolute;
  width: 50%;
  left: 50%;
  height: @reader-height;
  border-left: 1px solid @border-color-primary;
}

@reader-top-offset: ( @reader-height / 2.1) - @reader-font-size;
.squirt__node {
  position:relative;
  font-size: @reader-font-size;
  margin-top: @reader-top-offset;
}

@spacing: .5em;
.squirt__reader-space {
  position: absolute;
  width: 2px;
  left: -1px;
  top: @reader-top-offset + @spacing;
  height: @reader-font-size + (2 * @spacing);
  background-color: @background-primary;
}

.ORP {
  color: @text-color-link;
}

.squirt__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: @control-height;
  border-bottom: 1px solid @border-color-primary;
}

.wpm__container {
  flex-grow: 1;
  display: flex;
  max-height: 100%;
}

.wpm__value {
  max-height:100%;
}

@range-track-color: @text-color-subtle;
@slider-thumb-radius: 1em;
@slider-track-height: 0.2em;
@slider-thumb-color: @text-color-subtle;

.squirt__scrubber {
  flex-grow: 3;
  align-items: flex-end;
  > input {
    margin-top: .25em;
  }
}

.squirt__run-time {
  flex-grow: 2;
  justify-content: center;
  text-align: center;
}

button{
  max-height: 100%;
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &.wpm__decrement, &.wpm__increment {
    flex-grow: 1;
  }
  &.pause-play__toggle {
    flex-grow: 1
  }
}
